In [30]:
import glob
import os

import pandas as pd

folder = "/Users/johnmorris/Projects/interpretable-embeddings/scripts/d3/out"
paths = glob.glob(os.path.join(folder, "d3_*.csv"))

paths[0]

'/Users/johnmorris/Projects/interpretable-embeddings/scripts/d3/out/d3_16_hillary.csv'

In [32]:
def read_csv(path):
    lines = open(path).readlines()
    lines = lines[7:] # discard header
    all_data = []
    for line in lines:
        idx, data_str = eval(line) 
        all_data.append(eval(data_str))
    return pd.DataFrame(all_data, columns=['task', 'idx', 'true_label', 'pred_label', 'answer', 'model'])
    
dfs = [read_csv(path) for path in paths]
df = pd.concat(dfs)

In [34]:
df['correct']  = df['true_label'] == df['pred_label']
df.head()

            task  idx  true_label  pred_label answer    model  correct
0  d3_16_hillary  143           0           1    yes     meta    False
1  d3_16_hillary  143           0           1    yes   openai    False
2  d3_16_hillary  143           0           1    yes  mistral    False
3  d3_16_hillary    5           1           1    yes   openai     True
4  d3_16_hillary    5           1           1    yes     meta     True

In [35]:
df.groupby('model')['correct'].mean()

model
meta       0.765487
mistral    0.763563
openai     0.737207
Name: correct, dtype: float64

In [36]:
df.groupby(['model', 'task'])['correct'].mean()

model   task
meta    d3_0_irony              0.58
        d3_10_infrastructure    0.82
        d3_12_medical           0.85
        d3_13_water             0.87
        d3_14_search            0.85
                                ...
openai  d3_5_evacuate           0.83
        d3_6_terorrism          0.95
        d3_7_crime              0.83
        d3_8_shelter            0.84
        d3_9_food               0.87
Name: correct, Length: 156, dtype: float64

In [43]:
df.groupby(['model'])['correct'].sem()

model
meta       0.005877
mistral    0.005894
openai     0.006106
Name: correct, dtype: float64

In [41]:
import sklearn
import sklearn.metrics

for model in df['model'].unique():
    model_df = df[df['model'] == model]
    print(model, sklearn.metrics.f1_score(model_df['true_label'], model_df['pred_label']))

meta 0.6375260184359203
openai 0.6484817292846115
mistral 0.6499572771290231

In [50]:
df.groupby(['model', 'task'])['correct'].mean().reset_index().pivot(index='task', columns='model', values='correct').to_latex()

model                     meta   mistral    openai
task
d3_0_irony            0.580000  0.670000  0.610000
d3_10_infrastructure  0.820000  0.680000  0.690000
d3_12_medical         0.850000  0.550000  0.760000
d3_13_water           0.870000  0.890000  0.860000
d3_14_search          0.850000  0.570000  0.800000
d3_15_utility         0.360000  0.200000  0.110000
d3_16_hillary         0.820000  0.790000  0.760000
d3_17_hillary         0.860000  0.910000  0.860000
d3_18_offensive       0.590000  0.650000  0.670000
d3_19_offensive       0.470000  0.520000  0.490000
d3_1_objective        0.500000  0.550000  0.530000
d3_20_pro-life        0.650000  0.690000  0.750000
d3_21_pro-choice      0.630000  0.800000  0.730000
d3_22_physics         0.960000  0.920000  0.890000
d3_24_statistics      0.880000  0.900000  0.700000
d3_25_math            0.560000  0.690000  0.400000
d3_26_grammar         0.820000  0.810000  0.740000
d3_27_grammar         0.650000  0.820000  0.850000
d3_28_sexis           0.760000  0.750000  0.800000
d3_29_sexis           0.860000  0.770000  0.660000
d3_2_subjective       0.800000  0.630000  0.500000
d3_30_news            0.770000  0.620000  0.630000
d3_31_sports          0.898990  0.949495  0.939394
d3_32_business        0.770000  0.770000  0.710000
d3_33_tech            0.890000  0.870000  0.840000
d3_34_bad             0.760000  0.910000  0.930000
d3_35_good            0.970000  0.960000  0.930000
d3_36_quantity        0.870000  0.930000  0.790000
d3_37_location        0.870000  0.890000  0.860000
d3_38_person          0.790000  0.880000  0.780000
d3_39_entity          0.343434  0.181818  0.181818
d3_3_god              0.640000  0.600000  0.750000
d3_40_abbrevation     0.780000  0.990000  0.940000
d3_41_defin           0.580000  0.560000  0.490000
d3_42_environment     0.840000  0.720000  0.730000
d3_43_environment     0.760000  0.830000  0.790000
d3_44_spam            0.470000  0.850000  0.740000
d3_45_fact            0.540000  0.670000  0.520000
d3_46_opinion         0.440000  0.490000  0.380000
d3_47_math            0.890000  0.770000  0.790000
d3_48_health          0.930000  0.910000  0.880000
d3_49_computer        0.970000  0.910000  0.890000
d3_4_atheism          0.900000  0.890000  0.880000
d3_50_sport           0.960000  0.980000  0.980000
d3_51_entertainment   0.890000  0.920000  0.820000
d3_52_family          0.840000  0.920000  0.770000
d3_53_politic         0.950000  0.960000  0.910000
d3_5_evacuate         0.860000  0.730000  0.830000
d3_6_terorrism        0.960000  0.950000  0.950000
d3_7_crime            0.860000  0.880000  0.830000
d3_8_shelter          0.730000  0.630000  0.840000
d3_9_food             0.940000  0.820000  0.870000