In [102]:
import glob
import os
import pandas as pd
import sklearn
import sklearn.metrics

# folder = "/Users/johnmorris/Projects/interpretable-embeddings/scripts/d3/out"
folder = 'out'
paths = glob.glob(os.path.join(folder, "d3_*.csv"))

paths[0]

'out/d3_34_bad.csv'

In [103]:
def read_csv(path):
    lines = open(path).readlines()
    lines = lines[7:]  # discard header
    all_data = []
    for line in lines:
        idx, data_str = eval(line)
        all_data.append(eval(data_str))
    return pd.DataFrame(all_data, columns=['task', 'idx', 'true_label', 'pred_label', 'answer', 'model'])


dfs = [read_csv(path) for path in paths]
df = pd.concat(dfs)

df['correct'] = df['true_label'] == df['pred_label']

# add example_len
df['example_len'] = None
for task in df.task.unique():
    task_str = '_'.join(task.split('_')[:-1])
    examples = pd.read_csv(f'd3_processed/{task_str}.csv')
    examples['example_len'] = examples['input'].apply(lambda x: len(x.split()))
    # set example_len for each task based on "idx" column
    df.loc[df.task == task, 'example_len'] = df[df.task ==
                                                task].idx.apply(lambda x: examples.loc[x].example_len)

In [104]:
df.head()

        task  idx  true_label  pred_label answer    model  correct example_len
0  d3_34_bad  228           0           0     no   openai     True          79
1  d3_34_bad  228           0           0     no     meta     True          79
2  d3_34_bad  228           0           0     no  mistral     True          79
3  d3_34_bad    8           1           1    yes   openai     True         275
4  d3_34_bad    8           1           1    yes     meta     True         275

In [123]:
df.groupby('model')['correct'].mean()
# df[df.example_len <= 100000].groupby('model')['correct'].mean()

model
meta       0.765487
mistral    0.763563
openai     0.737207
Name: correct, dtype: float64

In [106]:
df.groupby(['model', 'task'])['correct'].mean()

model   task
meta    d3_0_irony              0.58
        d3_10_infrastructure    0.82
        d3_12_medical           0.85
        d3_13_water             0.87
        d3_14_search            0.85
                                ...
openai  d3_5_evacuate           0.83
        d3_6_terorrism          0.95
        d3_7_crime              0.83
        d3_8_shelter            0.84
        d3_9_food               0.87
Name: correct, Length: 156, dtype: float64

In [122]:
df.groupby(['model'])['correct'].sem()

model
meta       0.005877
mistral    0.005894
openai     0.006106
Name: correct, dtype: float64

In [96]:
for model in df['model'].unique():
    model_df = df[df['model'] == model]
    print(model, sklearn.metrics.f1_score(
        model_df['true_label'], model_df['pred_label']))

openai 0.6484817292846115
meta 0.6375260184359203
mistral 0.6499572771290231

In [97]:
# .reset_index().pivot(index='task', columns='model', values='correct').to_latex()
d = df.groupby(['model', 'task'])['correct'].mean().reset_index()

In [98]:
d['correct'] = d['correct'].apply(lambda x: max(x, 1 - x))

In [101]:
d.groupby('model')['correct'].mean()

model
meta       0.781453
mistral    0.787648
openai     0.773607
Name: correct, dtype: float64

In [100]:
# fullly display d
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(d)

       model                  task   correct
0       meta            d3_0_irony  0.580000
1       meta  d3_10_infrastructure  0.820000
2       meta         d3_12_medical  0.850000
3       meta           d3_13_water  0.870000
4       meta          d3_14_search  0.850000
5       meta         d3_15_utility  0.640000
6       meta         d3_16_hillary  0.820000
7       meta         d3_17_hillary  0.860000
8       meta       d3_18_offensive  0.590000
9       meta       d3_19_offensive  0.530000
10      meta        d3_1_objective  0.500000
11      meta        d3_20_pro-life  0.650000
12      meta      d3_21_pro-choice  0.630000
13      meta         d3_22_physics  0.960000
14      meta      d3_24_statistics  0.880000
15      meta            d3_25_math  0.560000
16      meta         d3_26_grammar  0.820000
17      meta         d3_27_grammar  0.650000
18      meta           d3_28_sexis  0.760000
19      meta           d3_29_sexis  0.860000
20      meta       d3_2_subjective  0.800000
21      meta            d3_30_news  0.770000
22      meta          d3_31_sports  0.898990
23      meta        d3_32_business  0.770000
24      meta            d3_33_tech  0.890000
25      meta             d3_34_bad  0.760000
26      meta            d3_35_good  0.970000
27      meta        d3_36_quantity  0.870000
28      meta        d3_37_location  0.870000
29      meta          d3_38_person  0.790000
30      meta          d3_39_entity  0.656566
31      meta              d3_3_god  0.640000
32      meta     d3_40_abbrevation  0.780000
33      meta           d3_41_defin  0.580000
34      meta     d3_42_environment  0.840000
35      meta     d3_43_environment  0.760000
36      meta            d3_44_spam  0.530000
37      meta            d3_45_fact  0.540000
38      meta         d3_46_opinion  0.560000
39      meta            d3_47_math  0.890000
40      meta          d3_48_health  0.930000
41      meta        d3_49_computer  0.970000
42      meta          d3_4_atheism  0.900000
43      meta           d3_50_sport  0.960000
44      meta   d3_51_entertainment  0.890000
45      meta          d3_52_family  0.840000
46      meta         d3_53_politic  0.950000
47      meta         d3_5_evacuate  0.860000
48      meta        d3_6_terorrism  0.960000
49      meta            d3_7_crime  0.860000
50      meta          d3_8_shelter  0.730000
51      meta             d3_9_food  0.940000
52   mistral            d3_0_irony  0.670000
53   mistral  d3_10_infrastructure  0.680000
54   mistral         d3_12_medical  0.550000
55   mistral           d3_13_water  0.890000
56   mistral          d3_14_search  0.570000
57   mistral         d3_15_utility  0.800000
58   mistral         d3_16_hillary  0.790000
59   mistral         d3_17_hillary  0.910000
60   mistral       d3_18_offensive  0.650000
61   mistral       d3_19_offensive  0.520000
62   mistral        d3_1_objective  0.550000
63   mistral        d3_20_pro-life  0.690000
64   mistral      d3_21_pro-choice  0.800000
65   mistral         d3_22_physics  0.920000
66   mistral      d3_24_statistics  0.900000
67   mistral            d3_25_math  0.690000
68   mistral         d3_26_grammar  0.810000
69   mistral         d3_27_grammar  0.820000
70   mistral           d3_28_sexis  0.750000
71   mistral           d3_29_sexis  0.770000
72   mistral       d3_2_subjective  0.630000
73   mistral            d3_30_news  0.620000
74   mistral          d3_31_sports  0.949495
75   mistral        d3_32_business  0.770000
76   mistral            d3_33_tech  0.870000
77   mistral             d3_34_bad  0.910000
78   mistral            d3_35_good  0.960000
79   mistral        d3_36_quantity  0.930000
80   mistral        d3_37_location  0.890000
81   mistral          d3_38_person  0.880000
82   mistral          d3_39_entity  0.818182
83   mistral              d3_3_god  0.600000
84   mistral     d3_40_abbrevation  0.990000
85   mistral           d3_41_defin  0.560000
86   mistral     d3_42_environment  0.720000
87   mistral     d3_43_environment  0.830000
88   mistral            d3_44_spam  0.850000
89   mistral            d3_45_fact  0.670000
90   mistral         d3_46_opinion  0.510000
91   mistral            d3_47_math  0.770000
92   mistral          d3_48_health  0.910000
93   mistral        d3_49_computer  0.910000
94   mistral          d3_4_atheism  0.890000
95   mistral           d3_50_sport  0.980000
96   mistral   d3_51_entertainment  0.920000
97   mistral          d3_52_family  0.920000
98   mistral         d3_53_politic  0.960000
99   mistral         d3_5_evacuate  0.730000
100  mistral        d3_6_terorrism  0.950000
101  mistral            d3_7_crime  0.880000
102  mistral          d3_8_shelter  0.630000
103  mistral             d3_9_food  0.820000
104   openai            d3_0_irony  0.610000
105   openai  d3_10_infrastructure  0.690000
106   openai         d3_12_medical  0.760000
107   openai           d3_13_water  0.860000
108   openai          d3_14_search  0.800000
109   openai         d3_15_utility  0.890000
110   openai         d3_16_hillary  0.760000
111   openai         d3_17_hillary  0.860000
112   openai       d3_18_offensive  0.670000
113   openai       d3_19_offensive  0.510000
114   openai        d3_1_objective  0.530000
115   openai        d3_20_pro-life  0.750000
116   openai      d3_21_pro-choice  0.730000
117   openai         d3_22_physics  0.890000
118   openai      d3_24_statistics  0.700000
119   openai            d3_25_math  0.600000
120   openai         d3_26_grammar  0.740000
121   openai         d3_27_grammar  0.850000
122   openai           d3_28_sexis  0.800000
123   openai           d3_29_sexis  0.660000
124   openai       d3_2_subjective  0.500000
125   openai            d3_30_news  0.630000
126   openai          d3_31_sports  0.939394
127   openai        d3_32_business  0.710000
128   openai            d3_33_tech  0.840000
129   openai             d3_34_bad  0.930000
130   openai            d3_35_good  0.930000
131   openai        d3_36_quantity  0.790000
132   openai        d3_37_location  0.860000
133   openai          d3_38_person  0.780000
134   openai          d3_39_entity  0.818182
135   openai              d3_3_god  0.750000
136   openai     d3_40_abbrevation  0.940000
137   openai           d3_41_defin  0.510000
138   openai     d3_42_environment  0.730000
139   openai     d3_43_environment  0.790000
140   openai            d3_44_spam  0.740000
141   openai            d3_45_fact  0.520000
142   openai         d3_46_opinion  0.620000
143   openai            d3_47_math  0.790000
144   openai          d3_48_health  0.880000
145   openai        d3_49_computer  0.890000
146   openai          d3_4_atheism  0.880000
147   openai           d3_50_sport  0.980000
148   openai   d3_51_entertainment  0.820000
149   openai          d3_52_family  0.770000
150   openai         d3_53_politic  0.910000
151   openai         d3_5_evacuate  0.830000
152   openai        d3_6_terorrism  0.950000
153   openai            d3_7_crime  0.830000
154   openai          d3_8_shelter  0.840000
155   openai             d3_9_food  0.870000